@import 'variables';

.welcome {
  background-color: $secondary-darker;
  border-radius: 15px;
  color: $background;

  padding: 25px 25px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  color: $text-color;
  width: 100%;
  text-align: center;
}

.advantages {
  background-color: $secondary-darker;
  padding: 10px 10px;
}