@import 'variables';

.welcome {
  background-color: $secondary-darker;
  color: $background;

  padding: 25px 25px;
  // height: 50px;

  display: flex;
  justify-content: space-between;
  text-align: center;
  // align-items: center;
}

.advantages {
  background-color: $secondary-darker;
  padding: 10px 10px;
}